* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .logoWF {
  display: flex;
  justify-content: right;
  margin: 20px; }

header .logo {
  height: 80px;
  width: auto;
  margin-top: 5px;
  border-radius: 40%;
  border: 0.3px; }

header .item a:hover {
  text-decoration: underline;
  color: #ffb3b3; }

h1, h2, h3 {
  color: black;
  font: 5rem, "Carrois Gothic", sans-serif;
  padding: 20px;
  text-align: center; }

footer {
  width: 100%;
  height: auto;
  position: static;
  bottom: 0;
  margin-top: 30px; }
  footer .redes {
    position: relative;
    text-align: left;
    margin-left: 30px; }
  footer .icon-redes {
    width: 50px;
    height: auto;
    margin-top: 20px;
    background-color: #ffb3b3;
    border-radius: 10px; }

.formturnos {
  border-radius: 10px;
  background-color: rgba(255, 192, 203, 0.322);
  padding: 40px 30px 50px;
  box-shadow: 1px -1px 15px -4px rgba(0, 0, 0, 0.75);
  color: #4b4646; }

.botregi a {
  text-decoration: none;
  color: grey; }
  .botregi a:hover {
    color: white; }
  .botregi a:visited {
    color: violet; }

.mapa {
  height: 350px;
  width: 350px;
  border-radius: 20px; }

.colu {
  margin-top: 50px;
  font-size: 1.3rem;
  text-align: center; }

@media screen and (min-width: 780px) {
  .nuevocolu {
    margin-left: 200px; }
  .nuevocolu1 {
    margin-right: 200px; } }

.contenedorFotos {
  margin: 10px auto;
  width: 75%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center; }
  .contenedorFotos .fotos {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
    flex-direction: row;
    margin: 5px;
    opacity: .7; }
    .contenedorFotos .fotos:hover {
      opacity: 8;
      transform: scale(1.2, 1.2); }
    .contenedorFotos .fotos img {
      border-radius: 20px;
      width: 300px;
      height: auto; }
    .contenedorFotos .fotos .ft {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(128, 128, 128, 0.401); }

.formturnos {
  border-radius: 10px;
  background-color: rgba(255, 192, 203, 0.322);
  padding: 40px 30px 50px;
  box-shadow: 1px -1px 15px -4px rgba(0, 0, 0, 0.75);
  color: #4b4646; }

.botregi {
  text-decoration: none;
  color: #4b4646; }
  .botregi:hover {
    color: white;
    text-decoration: none; }

body {
  background-image: url(../Assets/Img/fondooooo.webp);
  font-family: 5rem, "Carrois Gothic", sans-serif; }

.sectionindex {
  background-image: url(../Assets/Img/Fondoprinc.jpeg);
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px; }

.sectionindex2 {
  margin: 10px;
  padding: 20px; }
  .sectionindex2 h1 {
    color: black; }
  .sectionindex2 p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
    color: #4b4646; }

.fotoopi {
  text-align: center; }
  .fotoopi img {
    width: 100px;
    border-radius: 10px; }

.fotomeline {
  text-align: center;
  margin-top: 10px; }
  .fotomeline img {
    width: 100px;
    border-radius: 10px; }

.wp {
  position: fixed;
  margin: 20px;
  right: 0;
  bottom: 0; }
  .wp .Whatsapp {
    width: 50px;
    height: auto; }
