header{
    .logoWF{
        display: flex;
        justify-content: right;
        margin: 20px;
    }
    .logo{
        height: 80px;
        width: auto;
        margin-top: 5px;
        border-radius: 40%;
        border: 0.3px;
    }
    .item a{
        &:hover{
            text-decoration: underline;
            color:  rgb(255, 179, 179);
        }
    }
}

h1,h2,h3{
    color: $negromenu;
    font: $title-font;
    padding: 20px;
    text-align: center;
}
