@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}
.mapa{
@include sizes(350px,350px);
border-radius: 20px;
}
.colu{
margin-top: 50px;
font-size: 1.3rem;
text-align: center;
}
@media screen and (min-width:780px) {
.nuevocolu{
    margin-left: 200px;
}
.nuevocolu1{
margin-right: 200px;
    }
}



