<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/Img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Registrarse</title>
</head>
<body>
    <header class="navBack">
            <div id="top">
                <img class="logo" src="../Assets/Img/WhiteFlowerlogo.png" alt="logo sitio">
            </div>	
        <nav>
        <ul class="menu">
            <li class="item"><a href="../index.html">Inicio</a></li>
            <li class="item"><a href="./Servicios.html">Servicios</a></li>
            <li class="item"><a href="./Turnos.html">Turnos</a>
            <li class="item"><a href="./Sucursales.html" >Sucursales</a>
            <li class="item"><a href="./Registrarse.html">Registrarse</a>
            <li class="item"><a href="./Contacto.html">Contacto</a>
            </li>
        </ul>
    </nav>
    <main>
        <form action="">
            <fieldset>
         <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" placeholder="Florencia">
         </div>
         <br>
         <div>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" placeholder="Blanco">
         </div>
         <br>
         <div>
            <label for="email">Email*</label>
            <input type="email name=" email required>
         </div>
         <br>
         <div>
            <label for="pass">Contraseña</label>
            <input type="Password" name="password">
         </div>
         <br>
         <div>
            <label for="pass">Confirmar contraseña</label>
            <input type="Password" name="password">
         </div>
         <br>
        <div class="boton">
            <input class="botoncolor1" type="submit" value="Confirmar">
            <input class="botoncancelar" type="reset" value="Cancelar">
        </div>
    </fieldset>
    </form>
</main>
<div class="wp">
    <img class="Whatsapp" src="../Assets/Img/whatsapp.png" alt="Logo whatsapp">
</div>
</body>
</html>