<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/Img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header class="navBack">
		<div id="top">
			<img class="logo" src="../Assets/Img/WhiteFlowerlogo.png" alt="logo sitio">
		</div>	
        <nav>
        <ul class="menu">
            <li class="item"><a href="../index.html">Inicio</a></li>
            <li class="item"><a href="./Servicios.html">Servicios</a></li>
            <li class="item"><a href="./Turnos.html">Turnos</a>
            <li class="item"><a href="./Sucursales.html" >Sucursales</a>
            <li class="item"><a href="./Registrarse.html">Registrarse</a>
            <li class="item"><a href="./Contacto.html">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="contenedorFotos">
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto1.png" alt="foto1">
            <div class="ft">Kapping</div>
        </div>
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto2.png" alt="foto2">
            <div class="ft">Esculpidas</div>
        </div>
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto4.png" alt="foto3">
            <div class="ft">Semipermanente</div>
        </div>
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto5.png" alt="foto4">
            <div class="ft">Pedrería</div>
        </div>
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto3.png" alt="foto5">
            <div class="ft">Nail Art</div>
        </div>
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto6.jpeg" alt="foto6">
            <div class="ft">Belleza de pies</div>
        </div>
    </div>
    </div>

        </div>
    </Section>
    <div class="wp">
        <img class="Whatsapp" src="../Assets/Img/whatsapp.png" alt="Logo whatsapp">
    </div>
</body>
</html>