<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../Assets/Img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-transparent">
            <div class="container-fluid">
              <div class="col-lg-4 col-xs-8 offcanvas-header logoWF">
              <a class="navbar-brand" href="#"><img class="logo" src="../Assets/Img/WhiteFlowerlogo.png" alt="logo sitio"></a></div>
              <button class="navbar-toggler col-lg-8 col-xs-4 offcanvas-header" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menuN me-auto mb-2 mb-lg-0">
                  <li class="nav-item item">
                    <a class="nav-link fw-bold" aria-current="page" href="../index.html">INICIO</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link" href="./servicios.html">SERVICIOS</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link" href="./turnos.html">TURNOS</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link" href="./sucursales.html">SUCURSALES</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link" href="./registrarse.html">REGISTRARSE</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link" href="./contacto.html">CONTACTO</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div class="contenedorFotos">
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto1.png" alt="foto1">
            <div class="ft">Kapping</div>
        </div>
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto2.png" alt="foto2">
            <div class="ft">Esculpidas</div>
        </div>
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto4.png" alt="foto3">
            <div class="ft">Semipermanente</div>
        </div>
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto5.png" alt="foto4">
            <div class="ft">Pedrería</div>
        </div>
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto3.png" alt="foto5">
            <div class="ft">Nail Art</div>
        </div>
        <div class="fotos">
            <img src="../Assets/Img/servicios_fotos/foto6.jpeg" alt="foto6">
            <div class="ft">Belleza de pies</div>
        </div>
    </div>
    </div>

        </div>
    </Section>
    <div class="wp">
        <img class="Whatsapp" src="../Assets/Img/whatsapp.png" alt="Logo whatsapp">
    </div>
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
