<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/Img/favicon-32x32.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Sucursales</title>
</head>
<body>
    <header>
        <body class="turnos">
        <nav class="navbar navbar-expand-lg bg-transparent">
            <div class="container-fluid ">
              <div class="col-lg-4 col-sm-3 offcanvas-header logoWF">
              <a class="navbar-brand" href="#"><img class="logo" src="../Assets/Img/WhiteFlowerlogo.png" alt="logo sitio"></a></div>
              <button class="navbar-toggler col-lg-8 col-sm-3 justify-content-center offcanvas-header" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav menuN me-auto mb-2 mb-lg-0">
                  <li class="nav-item item">
                    <a class="nav-link fw-bold" aria-current="page" href="../index.html">INICIO</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link" href="./servicios.html">SERVICIOS</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link" href="./turnos.html">TURNOS</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link" href="./sucursales.html">SUCURSALES</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link" href="./registrarse.html">REGISTRARSE</a>
                  </li>
                  <li class="nav-item item">
                    <a class="nav-link" href="./contacto.html">CONTACTO</a>
                  </li>
                </ul>
              </div>
    </header>          
            <div class="maptex">
            <div class="Mapa1">
            <a href="https://www.google.com.ar/maps/place/G%C3%BCemes+4500-4402,+Buenos+Aires/@-34.5824541,-58.423634,17z/data=!4m5!3m4!1s0x95bcb5838fec79a5:0x3f632b9e7cb59b65!8m2!3d-34.5824531!4d-58.4224207"> <img src="../Assets/Img/mapa1.jpeg" alt="Palermo"></a>
            </div>
            <br>
            <div class="textosucu1">
                <h2>PALERMO, CABA</h2>
            <p>
                Guemes 4500
            </p>
            <p>
                Lunes a sabado de 9:00 a 18:00 hs. 
            </p>
            </div>
            </div>
        <br>
        <div class="maptex1">
        <div class="Mapa2">
        <a href="https://www.google.com.ar/maps/place/Electronix+Planet/@-34.5629683,-58.4561055,18z/data=!3m1!4b1!4m13!1m7!3m6!1s0x95bcb5d28526611d:0xbcb585a9ddc70069!2sBelgrano,+CABA!3b1!8m2!3d-34.5620844!4d-58.4566864!3m4!1s0x95bcb5d394b29f21:0xf981f0175a561b5e!8m2!3d-34.562971!4d-58.4561104"><img src="../Assets/Img/mapa2.jpeg" alt="Belgrano"></a>
        </div>
        <div class="textosucu2">
            <h2>BELGRANO, CABA</h2>
        <p>
             Av Cabildo 2004
        </p>
        <p>
            Lunes a viernes de 09:00 a 18:00 hs.
        </p>
        </div>
        </div>
        </header>
    <div class="wp">
        <img class="Whatsapp" src="../Assets/Img/whatsapp.png" alt="Logo whatsapp">
    </div>
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
