<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/Img/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Turnos</title>
</head>
<body class="turnos">
    <header class="navBack">
		<div id="top">
			<img class="logo" src="../Assets/Img/WhiteFlowerlogo.png" alt="logo sitio">
		</div>	
		<nav>
        <ul class="menu">
            <li class="item"><a href="../index.html">Inicio</a></li>
            <li class="item"><a href="./Servicios.html">Servicios</a></li>
            <li class="item"><a href="./Turnos.html">Turnos</a>
            <li class="item"><a href="./Sucursales.html" >Sucursales</a>
            <li class="item"><a href="./Registrarse.html">Registrarse</a>
            <li class="item"><a href="./Contacto.html">Contacto</a>
            </li>
        </ul>
    </nav>
    <section>
        <main>
            <form action="./Registrarse.html">
            <fieldset>
            <div class="form">
                <label for="Email">Email</label>
                <input class="cuadrado" type="Text" Email = "Email">
            </div>
            <br>
            <div class="form">
                <label for="Contraseña">Contraseña</label>
                <input class="cuadrado1" type="Text" Contraseña = "Contraseña" placeholder= "">
            </div>
            <br>
            <br>
            <div class="botentrar">
                <input class="botoncolor" type="submit" value="Entrar">
            </div>
            <div class="botregistrarse"> 
            <input type="submit" value="Registrarse">
            </div>
        </form>
        </main>
    </fieldset>
</section>
</header>
<div class="wp">
    <img class="Whatsapp" src="../Assets/Img/whatsapp.png" alt="Logo whatsapp">
</div>
</body>
</html>
